{% extends 'base.html' %}

{% block title %}Log List{% endblock %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<p class="font-weight-bold text-center"> {{ habit.title }}</p>
<p class="card-title text-center">Start Date: {{ habit.start_date }} </p>

<div class="card-deck center">
  {% for log in habit.habit_log.all %}
    {% if log.is_visible %}
      <div class="row">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ log.habit_log }}</h5>
            <p class="card-text">Number Completed: {{ log.log_number_completed }}</p>
            <p class="card-text">Date: {{ log.log_date }}</p>
            <a href="#" class="btn btn-outline-info btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
            Log</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Supporters: {% for supporter in habit.supporters.all %} {{ supporter }} {% endfor %}</small>        
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %} 
</div>
                   
{% else %}
  <p>No entry</p>  
{% endif %}

{% endblock %}