{% extends 'base.html' %}

{% block title %}Log List{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="card-group">
{% for log in logs %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ log.habit_log }}</h5>
        <p class="card-text">Number Completed: {{ log.log_number_completed }}</p>
        <p class="card-text">Start Date: {{ habit.start_date }}</p>
        <a href="#" class="btn btn-outline-info btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
        Edit Log</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Supporters: {% for supporter in habit.supporters.all %} {{ supporter }} {% endfor %}</small>        
      </div>
    </div>
                   
{% endfor %} 
{% else %}
<p>No entry</p>  
{% endif %}

{% endblock %}